.key {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    padding: 5px 10px;
}

.word {
    border: 1 px solid black;
    background-color: yellow;
    font-size: 36px;
    padding: 20px;
}

.welcome {
    border: 1 px;
    background-color: yellow;
}